
html{
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  min-height:100%;
  background: linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8));
  background-attachment: fixed;
  background-size: cover;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper,
.noteHeader,
.notesBody,
.notesFooter {
  display: flex;
}

.notesHeader,
.notesBody {
  text-align: center;
  justify-content: center;
}


.notesWrapper {
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  flex: 1 1 3%;
  display: block;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  color: white;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
}

.notesBody {
  padding-top: 24px;
  flex: 1 1 35%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.notesFooter {
  flex-direction: column;
  text-align: center;
  flex: 1 1 25%;
  background: rgba(155,0,0,0.1)
}
